@model IEnumerable<Database.Models.SemesterView>

@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
	
}

<h1>Index</h1>
<div class="form-group">
	<form method="get">
		<select name="itemId" id="itemId">

			@for (int i = 0; i < ViewBag.SemesterIdCount; i++)
			{
			<option selected="@ViewBag.Selected" value="@ViewBag.Semesterid[i]">
				@ViewBag.Semester[i]
				
			</option>
			
			}
			
		</select>
		<input type="submit" value="Select" class="btn btn-primary" />
	</form>
		</div>
<p>
	<a asp-action="Create">Create New</a>
</p>

<table class="table">
	<thead>
		<tr>
			<th>
				First Name
			</th>
			<th>
				Last Name
			</th>
			<th>
				Role
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model) {
		<tr>

			<td>
				@Html.DisplayFor(modelItem => item.first_name)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.last_name)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.role_name)
			</td>
			<td>
				<a asp-action="Edit" asp-route-id="@item.roster_id">Edit</a> |
				<a asp-action="Details" asp-route-id="@item.roster_id">Details</a> |
				<a asp-action="Delete" asp-route-id="@item.roster_id">Delete</a>
			</td>
		</tr>
		}
	</tbody>
</table>
